$cabpie: yellow;
$anchos: 100%;
$imancha: 30%;
$borde: solid 5px;
$pieh6: 15px;
$bordeboton: solid 3px red;
$fondo: linear-gradient(80deg, yellow 0%,#8FFF00 100%);


$letrero: 'Vast Shadow Regular';

