<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Ej3.css">
    <title>TFT Versión Chafa | CGG 2º DAW</title>
</head>
<body>
    <h1 class="vision">Su dispositivo es muy pequeño, busque uno con mayor resolución</h1>
    <form>
        <p>Nombre de Invocador<input></p>
        <p>Última Liga Alcanzada<input></p>
    </form>

    <div class="tablero">
        <div id="casilla">1</div>
        <div id="casilla">2</div>
        <div id="casilla">3</div>
        <div id="casilla">4</div>
        <div id="casilla">5</div>
        <div id="casilla">6</div>
        <div id="casilla">7</div>
        <div id="casilla">8</div>
        <div id="casilla">9</div>
        <div id="casilla">10</div>
        <div id="casilla">11</div>
        <div id="casilla">12</div>
        <div id="casilla">13</div>
        <div id="casilla">14</div>
        <div id="casilla">15</div>
        <div id="casilla">16</div>
        <div id="casilla">17</div>
        <div id="casilla">18</div>
        <div id="casilla">19</div>
        <div id="casilla">20</div>
        <div id="casilla">21</div>
        <div id="casilla">22</div>
        <div id="casilla">23</div>
        <div id="casilla">24</div>
        <div id="casilla">25</div>
        <div id="casilla">26</div>
        <div id="casilla">27</div>
        <div id="casilla">28</div>
    </div> 
    <div class="cards">
        <img class="c1" src="Imagenes/KarmaC.png">
        <img class="c2" src="Imagenes/TeemoC.png">
        <img class="c3" src="Imagenes/GwenC.png">
        <img class="c4" src="Imagenes/PoppyC.png">
        <img class="c5" src="Imagenes/FiddleC.png">
    </div>
    <button><img src="Imagenes/lu.png"></button>
    <button><img src="Imagenes/refresh.png"></button>
</body>
</html>