<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horario</title>
    <link rel="stylesheet" href="horario.css">
</head>
<body>
    <ul class="flex-container nowrap">
        <li class="flex-item">Hora</li>
        <li class="flex-item">Lunes</li>
        <li class="flex-item">Martes</li>
        <li class="flex-item">Miercoles</li>
        <li class="flex-item">Jueves</li>
        <li class="flex-item">Viernes</li>
        <li class="flex-item">Sabado</li>
        <li class="flex-item">Domingo</li>
    </ul>

    <ul class="flex-container nowrap">
        <li class="flex-item" id="horas">07:00</li>
        <li class="flex-item" id="cc">7:15-8:15 Ciclo Ciclo</li>
        <li class="flex-item" id="bp">7:15-8:15 Sala1 Body Pump</li>
        <li class="flex-item" id="cc">7:15-8:15 Ciclo Ciclo</li>
        <li class="flex-item" id="bp">7:15-8:15 Sala1 Body Pump</li>
        <li class="flex-item" id="cc">7:15-8:15 Ciclo Ciclo</li>
        <li class="flex-item"></li>
        <li class="flex-item"></li>
    </ul>

    <ul class="flex-container nowrap">
        <li class="flex-item" id="horas">08:00</li>
        <li class="flex-item" id="cc">8:30-9:20 Sala1 Mantenimiento</li>
        <li class="flex-item" id="cc">8:30-9:20 Ciclo Ciclo</li>
        <li class="flex-item" id="cc">8:30-9:20 Sala1 Mantenimiento</li>
        <li class="flex-item" id="cc">8:30-9:20 Ciclo Ciclo</li>
        <li class="flex-item" id="cc">8:30-9:20 Sala1 Mantenimiento</li>
        <li class="flex-item"></li>
        <li class="flex-item"></li>
    </ul>

    <ul class="flex-container nowrap">
        <li class="flex-item" id="horas">09:00</li>
        <li class="flex-item" id="hydro">9:10-9:50 Piscina 2 Aquagym</li>
        <li class="flex-item" id="hydro">9:10-9:50 Piscina 2 Aquagym</li>
        <li class="flex-item" id="hydro">9:10-9:50 Piscina 2 Aquagym</li>
        <li class="flex-item" id="hydro">9:10-9:50 Piscina 2 Aquagym</li>
        <li class="flex-item" id="hydro">9:10-9:50 Piscina 2 Aquagym</li>
        <li class="flex-item"></li>
        <li class="flex-item"></li>
    </ul>
    
    <ul class="flex-container nowrap">
        <li class="flex-item" id="horas"></li>
        <li class="flex-item" id="cc">9:30-10:20 Sala 1 Zumba</li>
        <li class="flex-item" id="cc">9:30-10:20 Sala 1 Zumba-step</li>
        <li class="flex-item" id="cc">9:30-10:20 Sala 1 Zumba</li>
        <li class="flex-item" id="cc">9:30-10:20 Sala 1 Zumba-step</li>
        <li class="flex-item" id="cc">9:30-10:20 Sala 1 Zumba</li>
        <li class="flex-item"></li>
        <li class="flex-item"></li>
    </ul>

    <ul class="flex-container nowrap">
        <li class="flex-item" id="horas">10:00</li>
        <li class="flex-item" id="hydro">10:00-10:50 Piscina 2 Aquagym</li>
        <li class="flex-item" id="hydro">10:00-10:50 Piscina 2 Aquagym</li>
        <li class="flex-item" id="hydro">10:00-10:50 Piscina 2 Aquagym</li>
        <li class="flex-item" id="hydro">10:00-10:50 Piscina 2 Aquagym</li>
        <li class="flex-item"></li>
        <li class="flex-item" id="cc">10:00-10:50 Ciclo Ciclo</li>
        <li class="flex-item"></li>
    </ul>
</body>
</html>